<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campamento</title>
    <link rel= "icon" href="../img/escudo.ico">
    <link rel="stylesheet" href="../css/campamento.css">
</head>
<body>
    <header id="Inicio">
        <div id="Logo">
          <a href="#inicio">
            <img src="../img/escudo.ico"alt"">
          </a>

        </div>
        <h1>Campamento 2025</h1>
        <a id="login" class="button" href="#">login</a>

    </header>
    <nav>
        <ul>
            <li> <a href="#Inicio" class="button">Inicio</a></li>
            <li> <a href="#Productos" class="button">Camping</a></li>
            <li> <a href="#Contacto" class="button">Vota tu Opcion Favorita</a></li>
        </ul>
    </nav>

    <main>
        <section id="Productos">
          <h2 class="titulo">Camping Municipales</h2>
            <section>
              <h3 class="subtitulo" >Tenemos tiempo hasta noviembre para reservar</h3>
              <div class="contenedor_ofertas">                
                <article>
                  <h4>Valle Grande</h4>
                  <p>Camping municipal del Valle Grande avanza a paso firme y se prevé que el próximo verano quede habilitado para que – gratuitamente – lo disfruten sanrafaelinos y turistas.
                    
                    En el espacio situado entre la ruta provincial 173, el río Atuel y el impactante cerro “Mil Hojas”, por estos días se trabaja en la adaptación de contenedores modulares 
                    
                    que oficiarán de proveeduría, sanitarios y oficinas de informes. Los nuevos espacios se construirán en 5 estructuras tipo contenedores marítimos, además de la intervención completa en el predio, lo que significará un antes 
                    
                    y después en ese lugar que, de por sí, ya era muy visitado para actividades de esparcimiento y recreación.
                  </p>
                </article>
                <article>
                  <h4>Villa Carlos Paz</h4>
                  <p>Villa Carlos Paz es una ciudad ubicada al oeste de la provincia de Córdoba, Argentina, en la región de las Sierras de Córdoba, 
                    más precisamente dentro del valle de Punilla, junto al dique San Roque. Es uno de los centros turísticos más importantes de la provincia de Córdoba y del país. La ciudad es reconocida por ser uno de los destinos veraniegos más elegidos para las vacaciones familiares
                    Además Carlos Paz se encuentra ubicada a poco más de 30 km al noroeste de la capital provincial: Córdoba, y de otras ciudades de gran importancia turística como Cosquín, Alta Gracia, La Calera, Tanti, entre otras.</p>
                </article>
                <article>
                  <h4>San Clemente del tuyu</h4>
                  <p>San Clemente del Tuyú es una ciudad balnearia y
                     turística argentina del partido de La Costa en la provincia de Buenos Aires. Vas a poder practicar surf, si hace viento windsurf, kitesurf o wing, tambien pescar de costa, embarcado, o en kayaks 
                     Podes disfrutar de las termas, el acuario, recorrer Punta Rasa, uno de los pocos lugares del pais donde el sol se pone en el agua
                     Está ubicada sobre la costa septentrional del Mar Argentino. Limita al noroeste con la Bahía de Samborombón, al este con el Mar Argentino, al oeste con el partido de General Lavalle y al sur se encuentra Las Toninas.
                     En las Toninas podes ir al Laberinto y sus nuevas escolleras.
                    </p>
                </article>
                             

              </div>
        
        </section>
        <section id="Contacto">
          <h3 class="subtitulo">No te olvides votar tu opcion Favorita</h3>
            <form action="">
              <label for="Name">Nombre & Apellido</label>
              <input id="Name" name="Name" type="text">                

              <label for="Subject">Opcion Elegida</label>
              <input id="Subject" name="Subject" type="text">
                
              <label for="Message"> Consultas</label>
              <textarea name="Message" id="" cols="30" rows="10"></textarea> 
              
              <input class="button" type="reset">
              <input class="button" type="submit">
            </form>
        </section>
        <a href="../index.html" title="Volver a pagina index">Volver al inicio</a>
    </main>

    <footer>
      <div class="columna-1">
          <img src="../img/berzuini.png" alt="Logo personal" style="width: 10vw;">
          <h5>© 2024 Grupo 16 Todos los derechos reservados.</h5>
          <h5>Curso Full Stack Python</h5>
      </div>
      <div class="columna-2">
          <div>
              <a class="hipervinculo"  href="https://instagram.com/futsal_femenino_capital?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"><img src="../img/Instagram-frame-png.png" alt="Instagram" style="width: 2vw;">@FUTSAL_FEMENINO_CAPITAL</a>
          </div>

          <div>
              <a class="hipervinculo"  href="https://www.facebook.com/profile.php?id=100011423811094" target="_blank"><img src="../img/facebook.png" alt="Facebook" style="width: 2vw;">LA FAVORITA FUTSAL</a>
          </div>

          <div>
              <a class="hipervinculo"  href="https://www.youtube.com/@g5-lafavorita232" target="_blank"><img src="../img/youtube.jpg" alt="YouTube" style="width: 2vw;">G5 - LA FAVORITA</a>
          </div>  
      </div>
    </footer>
    
</body>
</html>