<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="novedades,información,actualización,futsal">
    <meta name="description" content="Novedades por medio de imagenes, video,  texto y link hacia otros sitios web">
    <link rel="shortcut icon" href="../img/LaFavoritafavicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <title>Contacto</title>
</head>

<body>
     <!--Encabezado-->
    <header>
        <!--Logo-->
        <div class="header-linea">
            <video class="logo" src="../video/logoanimado.mp4" autoplay muted></video>
        </div>
        <!--Menú de navegación-->
        <nav class="header-linea">
            <a class="menu" href="../index.html">INICIO</a>
            <a class="menu" href="novedades.html">NOVEDADES</a>
            <a class="menu" href="galeria.html">GALERÍA</a>
            <a class="menu" href="tienda.html">TIENDA</a>
            <a class="menu" href="descargas.html">DESCARGAS</a>
            <a class="menu" href="contacto.html">CONTACTO</a>
            <a class="menu" href="https://www.fefusamendoza.com.ar/" target="_blank">FEFUSA</a>
        </nav>
    </header>

    <main>

         <!--Sección 6-->
         <section>
            <div>
                <h2> Nuestra cancha</h2>
            </div>
            <p>Se ubica en el Gimansio Municipal N°5 de la Municipalidad de Mendoza, Barrio Alto Mendoza.</p>
            <img src="../img/cancha.jpeg" alt="Nuestra cancha">
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3350.4160555124336!2d-68.90630662490612!3d-32.88716636888596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e082a27b0c41f%3A0x2318be53513f6f45!2sGimnasio%20Municipal%20N%C2%B0%205!5e0!3m2!1ses-419!2sar!4v1698020543231!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>

       <form action="https://formspree.io/f/xnqkwvrv" method="post"> <!-- ACTION: a donde envió los datos del formulario. METHOD POST: el protocolo de comunicación con el servidor es de tipo post, se van a enviar datos-->
            <div>
                <label for="Apellido">Apellido:</label>
                <input type="text" name="Apellido" id="Apellido">
            </div>

            <div>
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" placeholder="Escriba nombre. Ejemplo: Maria">
            </div>
            
            <div>
                <label for="Fecha">Fecha de nacimiento:</label>
                <input type="date" name="Fecha" id="Fecha">
            </div>

            <div>
                <label for="Edad">Edad:</label>
                <input type="number" name="Edad" id="Edad" required min="7"> <!--required campo obligatorio MIN ninimo de edad requerida o maximo-->
            </div>

            <br>
            <hr>

            <div>
                <input type="submit" value="Enviar">
                <input type="reset" value="Borrar">
            </div>

            <div>
                <label for="género
                ">Seleccione género:</label>
                <select name="género" id="género">
                    <option value="Femenino">Femenino</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>

            <br>
            <hr>

            <div>
                <h3>Seleccione un área a desarrollarse</h3>
                
                <div>
                    <input type="radio" name="area" id="app" value="app">
                    <label for="app">App Web</label>
                </div>

                <div>
                    <input type="radio" name="area" id="datos" value="datos">
                    <label for="datos">Análisis de datos</label>
                </div>
                
                <div>
                    <input type="radio" name="area" id="juegos" value="juegos">
                    <label for="juegos">Desarrollo de juegos</label>
                </div>
            </div>

            <br>
            <hr>

            <div>
                <h3>Seleccione un área a desarrollarse</h3>
                
                <input type="radio" name="area" id="app" value="app">
                <label for="app">App Web</label>
                
                <body type="radio" name="area" id="datos" value="datos">
                <label for="datos">Análisis de datos</label>
                
                <input type="radio" name="area" id="juegos" value="juegos">
                <label for="juegos">Desarrollo de juegos</label>   
            </div>

            <br>
            <hr>

            <div>
                <h3>Seleccione tecnologías</h3>
                <input type="checkbox" name="tecnología" id="html" value="html">
                <label for="html">HTML</label>

                <input type="checkbox" name="tecnología" id="css" value="css">
                <C< for="css">CSS</label>

                <input type="checkbox" name="tecnología" id="js" value="js">
                <label for="js">JS</label>
            </div>

            <br>
            <hr>

            <div>
                <label for="navegador">Seleccione navegador:</label>
                <input list="browsers" id="navegador" name="navegador">
                <datalist id="browsers">
                    <option value="Chrome"></option>
                    <option value="Opera"></option>
                    <option value="Safarí"></option>
                    <option value="Firefox"></option>
                    <option value="Edge"></option> 
                </datalist>
            </div>

            <br>

            <fieldset>
                <legend>Datos personales:</legend>
                <div>
                    <label for="teléfono">Teléfono:</label>
                    <input type="tel" name="teléfono" id="teléfono">
                </div>

                <div>
                    <label for="email">Correo:</label>
                    <input type="email" name="email" id="email">
                </div>
            </fieldset>

            <br>

            <div>
                <label for="comentario">Comentario:</label>
                <textarea name="comentario" id="comentario" cols="30" rows="10" placeholder="Escriba un comentario"></textarea>
            </div>

        </form>

    </main>

    <!--Pie de página-->
    <footer>
        <div class="columna-1">
            <img src="../img/berzuini.png" alt="Logo personal" style="width: 10vw;">
            <h5>© 2023 Todos los derechos reservados.</h5>
            <h5>Curso Full Stack Python</h5>
        </div>
        <div class="columna-2">
            <div>
                <a class="hipervinculo"  href="https://instagram.com/futsal_femenino_capital?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"><img src="../img/instagram.png" alt="Instagram" style="width: 2vw;">@FUTSAL_FEMENINO_CAPITAL</a>
            </div>

            <div>
                <a class="hipervinculo"  href="https://www.facebook.com/profile.php?id=100011423811094" target="_blank"><img src="../img/facebook.png" alt="Facebook" style="width: 2vw;">LA FAVORITA FUTSAL</a>
            </div>

            <div>
                <a class="hipervinculo"  href="https://www.youtube.com/@g5-lafavorita232" target="_blank"><img src="../img/youtube.png" alt="YouTube" style="width: 2vw;">G5 - LA FAVORITA</a>
            </div>  
        </div>
   </footer>

</body>
</html>