<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="novedades,información,actualización,futsal">
    <meta name="description" content="Novedades por medio de imagenes, video,  texto y link hacia otros sitios web">
    <link rel= "icon" href="../img/escudo.ico">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/contacto.css">
    <title>Contacto</title>
</head>

<body>
     <!--Encabezado-->
    <header>
        <!--Logo-->
        <div>
            <video class="logo" src="../video/logoanimado.mp4" autoplay muted></video>
        </div>
        <!--Menú de navegación-->
        <nav class="header-linea">
            <a class="menu" href="../index.html">INICIO</a>
            <a class="menu" href="novedades.html">NOVEDADES</a>
            <a class="menu" href="galeria.html">GALERÍA</a>
            <a class="menu" href="tienda.html">TIENDA</a>
            <a class="menu" href="descargas.html">DESCARGAS</a>
            <a class="menu" href="contacto.html">CONTACTO</a>
            <a class="menu" href="https://www.fefusamendoza.com.ar/" target="_blank">FEFUSA</a>
        </nav>
    </header>

    <main>

         <!--Sección 6-->
         <section>
            <div>
                
                
                <img src="../img/cancha.jpg" alt="Nuestra cancha">
                
                <h2> Nuestra cancha</h2>
                <p>Se ubica en el Gimansio Municipal N°5 de la Municipalidad de Mendoza, Barrio Alto Mendoza.</p>
        </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3350.4160555124336!2d-68.90630662490612!3d-32.88716636888596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e082a27b0c41f%3A0x2318be53513f6f45!2sGimnasio%20Municipal%20N%C2%B0%205!5e0!3m2!1ses-419!2sar!4v1698020543231!5m2!1ses-419!2sar"  width="600" height="400"style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>

       <div class="container-form" >
            <div class="info-form">
                <h2>Contactanos</h2>
                <p>Te podes comunicar con nosotros por cualquiera de los estos medios o mandarnos un mensaje desde el formulario. </p>
                <a href="#"class="fa fa-phone">Whatsapp: 3865-424039</a>
                <a href="#"class="fa fa-email">Email: info@gmail.com</a>
                <a href="#"class="fa fa-Ciudad">gmail.com</a>
            </div>
            <form action="#"  autocomplete="off">
                <input type="text" name="nombre" placeholder="Ingresa Tu Nombre " class="campo">
                <input type="email" name="email" placeholder="Ingresa Tu Correo " class="campo">
                <textarea name="mensaje" id="" placeholder="Ingresa Tu Mensaje"></textarea>
                <input type="submit" name="enviar" value="Enviar mensaje" class="btn-enviar">




            </form>
    
    
        </div>
        
         <h3>Nuevos Socios</h3>
           <article id="Persona">
            <img id="Foto" src="" alt="">
            <h4 id="Titulo" >Bienvenidxs <span id="Nombre"></span></h4>
        </article>

        <script src="../JS/contacto.js"></script>
       
        <h5> Agregar Socio</h5>
        
           <form id="userForm">         
              <label for="username">Nombre y Apellido</label>
              <input 
                type="text"
                name="username"
                required
               />

               <button>Guardar</button>

            </form>

            <ul id="userList">
               <li>item</li>
            </ul>
    </main>  
       
       
       
     
       <!-- <form action="https://formspree.io/f/xnqkwvrv" method="post"> action: a donde envió los datos del formulario. method post: el protocolo de comunicación con el servidor es de tipo post, se van a enviar datos
            <div>
                <label for="apellido">apellido:</label>
                <input type="text" name="apellido" id="apellido">
            </div>
        
            <div>
                <label for="nombre">nombre:</label>
                <input type="text" name="nombre" id="nombre" placeholder="escriba nombre. ejemplo: maria">
            </div> -->
             
            <!-- <div>
                <label for="fecha">fecha de nacimiento:</label>
                <input type="date" name="fecha" id="fecha">
            </div>

            <div>
                <label for="edad">edad:</label>
                <input type="number" name="edad" id="edad" required min="7"> 
            </div>

            <br>
            <hr>

            <div>
                <input type="submit" value="enviar">
                <input type="reset" value="borrar">
            </div>

            <div>
                <label for="género
                ">seleccione género:</label>
                <select name="género" id="género">
                    <option value="femenino">femenino</option>
                    <option value="masculino">masculino</option>
                    <option value="otro">otro</option>
                </select>
            </div>

            <br>
            <hr>

            <div>
                <h3>seleccione un área a desarrollarse</h3>
                
                <div>
                    <input type="radio" name="area" id="app" value="app">
                    <label for="app">app web</label>
                </div>

                <div>
                    <input type="radio" name="area" id="datos" value="datos">
                    <label for="datos">análisis de datos</label>
                </div>
                
                <div>
                    <input type="radio" name="area" id="juegos" value="juegos">
                    <label for="juegos">desarrollo de juegos</label>
                </div>
            </div>

            <br>
            <hr>

            <div>
                <h3>seleccione un área a desarrollarse</h3>
                
                <input type="radio" name="area" id="app" value="app">
                <label for="app">app web</label>
                
                <body type="radio" name="area" id="datos" value="datos">
                <label for="datos">análisis de datos</label>
                
                <input type="radio" name="area" id="juegos" value="juegos">
                <label for="juegos">desarrollo de juegos</label>   
            </div>

            <br>
            <hr>

            <div>
                <h3>seleccione tecnologías</h3>
                <input type="checkbox" name="tecnología" id="html" value="html">
                <label for="html">html</label>

                <input type="checkbox" name="tecnología" id="css" value="css">
                <c< for="css">css</label>

                <input type="checkbox" name="tecnología" id="js" value="js">
                <label for="js">js</label>
            </div>

            <br>
            <hr>

            <div>
                <label for="navegador">seleccione navegador:</label>
                <input list="browsers" id="navegador" name="navegador">
                <datalist id="browsers">
                    <option value="chrome"></option>
                    <option value="opera"></option>
                    <option value="safarí"></option>
                    <option value="firefox"></option>
                    <option value="edge"></option> 
                </datalist>
            </div>

            <br>

            <fieldset>
                <legend>datos personales:</legend>
                <div>
                    <label for="teléfono">teléfono:</label>
                    <input type="tel" name="teléfono" id="teléfono">
                </div>

                <div>
                    <label for="email">correo:</label>
                    <input type="email" name="email" id="email">
                </div>
            </fieldset>

            <br>

            <div>
                <label for="comentario">comentario:</label>
                <textarea name="comentario" id="comentario" cols="30" rows="10" placeholder="escriba un comentario"></textarea>
            </div>

        </form>

    </main> -->

    <!--Pie de página-->
    <footer>
        <div class="columna-1">
            <img src="../img/berzuini.png" alt="Logo personal" style="width: 10vw;">
            <h5>© 2024 Grupo 16 Todos los derechos reservados.</h5>
            <h5>Curso Full Stack Python</h5>
        </div>
        <div class="columna-2">
            <div>
                <a class="hipervinculo"  href="https://instagram.com/futsal_femenino_capital?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"><img src="../img/Instagram-frame-png.png" alt="Instagram" style="width: 2vw;">@FUTSAL_FEMENINO_CAPITAL</a>
            </div>

            <div>
                <a class="hipervinculo"  href="https://www.facebook.com/profile.php?id=100011423811094" target="_blank"><img src="../img/facebook.png" alt="Facebook" style="width: 2vw;">LA FAVORITA FUTSAL</a>
            </div>

            <div>
                <a class="hipervinculo"  href="https://www.youtube.com/@g5-lafavorita232" target="_blank"><img src="../img/youtube.jpg" alt="YouTube" style="width: 2vw;">G5 - LA FAVORITA</a>
            </div>  
        </div>
   </footer>

</body>
</html>