<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="novedades,información,actualización,futsal">
    <meta name="description" content="Novedades por medio de imagenes, video,  texto y link hacia otros sitios web">
    <link rel="shortcut icon" href="../img/LaFavoritafavicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/descargas.css">
</head>

<body>
     <!--Encabezado-->
     <header>
        <!--Logo-->
        <div class="header-linea">
            <video class="logo" src="../video/logoanimado.mp4" autoplay muted></video>
        </div>
        <!--Menú de navegación-->
        <nav class="header-linea">
            <a class="menu" href="../index.html">INICIO</a>
            <a class="menu" href="novedades.html">NOVEDADES</a>
            <a class="menu" href="galeria.html">GALERÍA</a>
            <a class="menu" href="tienda.html">TIENDA</a>
            <a class="menu" href="descargas.html">DESCARGAS</a>
            <a class="menu" href="contacto.html">CONTACTO</a>
            <a class="menu" href="https://www.fefusamendoza.com.ar/" target="_blank">FEFUSA</a>
        </nav>
    </header>

    <main>
        <section class="seccion1">
            <h1>Todo lo que necesitas</h1>
                <p class="texto">Aquí encontrarás el reglamento de juego y todo lo necesario para realizar tu trámite federativo.</p>
        </section>

        <section class="seccion2">
            
            <div class="documento">
                <img src="../img/Evaluaciónprecompetitiva.png "alt="Evaluación precompetitiva">

                <a class="hipervinculo2" href="../documento/Evaluaciónprecompetitiva.pdf" target="_blank">VER</a>
                
                <a class="hipervinculo2" href="../documento/Evaluaciónprecompetitiva.pdf" download>DESCARGAR PDF</a>

                <a class="hipervinculo2" href="mailto:lafavoritaffo@outlook.com.ar?subjet=Contacto">ENVIAR CORREO</a>
            </div>

            <div class="documento">
                <img src="../img/formulariopase.png" alt="Formulario de pase">

                <a class="hipervinculo2" href="../documento/formulariodepase.pdf" target="_blank">VER</a>
                
                <a class="hipervinculo2" href="../documento/formulariodepase.pdf"  
                download>DESCARGAR PDF</a>

                <a class="hipervinculo2" href="mailto:lafavoritaffo@outlook.com.ar?subjet=Contacto">ENVIAR CORREO</a>
            </div>

            <div class="documento">
                <img src="../img/autorizacionmenores.png" alt="Autorización para menores">

                <a class="hipervinculo2" href="../documento/autorizacion-menor.pdf" target="_blank">VER</a>
                
                <a class="hipervinculo2" href="../documento/autorizacion-menor.pdf"  
                download>DESCARGAR PDF</a>

                <a class="hipervinculo2" href="mailto:lafavoritaffo@outlook.com.ar?subjet=Contacto">ENVIAR CORREO</a>
            </div>

            <div class="documento">
                
                <img src="../img/reglamentodejuego.png" alt="Reglamento de juego CAFS">

                <a class="hipervinculo2" href="../documento/ReglamentodeJuegoCAFS2020.pdf" target="_blank">VER</a>
                
                <a class="hipervinculo2" href="../documento/ReglamentodeJuegoCAFS2020.pdf" download>DESCARGAR PDF</a>

                <a class="hipervinculo2" href="mailto:lafavoritaffo@outlook.com.ar?subjet=Contacto">ENVIAR CORREO</a>
            </div>

            <div class="documento">
                
                <img src="../img/codigofaltas.png" alt="Código de faltas">

                <a class="hipervinculo2" href="../documento/codigofaltas.pdf" target="_blank">VER</a>
                
                <a class="hipervinculo2" href="../documento/codigofaltas.pdf" download>DESCARGAR PDF</a>

                <a class="hipervinculo2" href="mailto:lafavoritaffo@outlook.com.ar?subjet=Contacto">ENVIAR CORREO</a>
            </div>

            <div class="documento">
                
                <img src="../img/ordenamiento.png" alt="Ordenamiento de equipos por empate de puntos">

                <a class="hipervinculo2" href="../documento/ordenamientoempatepuntos.pdf" target="_blank">VER</a>
                
                <a class="hipervinculo2" href="../documento/ordenamientoempatepuntos.pdf" download>DESCARGAR PDF</a>

                <a class="hipervinculo2" href="mailto:lafavoritaffo@outlook.com.ar?subjet=Contacto">ENVIAR CORREO</a>
            </div>
            
            <div class="documento">
                
                <img src="../img/torneoprimerafemenino.png" alt="Sistema torneo primera femenino">

                <a class="hipervinculo2" href="../documento/sistematorneoprimerafemenino.pdf" target="_blank">VER</a>
                
                <a class="hipervinculo2" href="../documento/sistematorneoprimerafemenino.pdf" download>DESCARGAR PDF</a>

                <a class="hipervinculo2" href="mailto:lafavoritaffo@outlook.com.ar?subjet=Contacto">ENVIAR CORREO</a>
            </div>

            <div class="documento">
                
                <img src="../img/torneoformativafemenino.png" alt="Sistema torneo formativas femenino">

                <a class="hipervinculo2" href="../documento/sistematorneoformativafemenina.pdf" target="_blank">VER</a>
                
                <a class="hipervinculo2" href="../documento/sistematorneoformativafemenina.pdf" download>DESCARGAR PDF</a>

                <a class="hipervinculo2" href="mailto:lafavoritaffo@outlook.com.ar?subjet=Contacto">ENVIAR CORREO</a>
            </div>

            <div class="documento">
                
                <img src="../img/reglamentoprimerafemenino.png" alt="Reglamento de juego CAFS">

                <a class="hipervinculo2" href="../documento/reglamentoprimerafemenino.pdf" target="_blank">VER</a>
                
                <a class="hipervinculo2" href="../documento/reglamentoprimerafemenino.pdf" download>DESCARGAR PDF</a>

                <a class="hipervinculo2" href="mailto:lafavoritaffo@outlook.com.ar?subjet=Contacto">ENVIAR CORREO</a>
            </div>

        </section>
    </main>

    <!--Pie de página-->
    <footer>
        <div class="columna-1">
            <img src="../img/berzuini.png" alt="Logo personal" style="width: 10vw;">
            <h5>© 2023 Todos los derechos reservados.</h5>
            <h5>Curso Full Stack Python</h5>
        </div>
        <div class="columna-2">
            <div>
                <a class="hipervinculo"  href="https://instagram.com/futsal_femenino_capital?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"><img src="../img/instagram.png" alt="Instagram" style="width: 2vw;">@FUTSAL_FEMENINO_CAPITAL</a>
            </div>

            <div>
                <a class="hipervinculo"  href="https://www.facebook.com/profile.php?id=100011423811094" target="_blank"><img src="../img/facebook.png" alt="Facebook" style="width: 2vw;">LA FAVORITA FUTSAL</a>
            </div>

            <div>
                <a class="hipervinculo"  href="https://www.youtube.com/@g5-lafavorita232" target="_blank"><img src="../img/youtube.png" alt="YouTube" style="width: 2vw;">G5 - LA FAVORITA</a>
            </div>  
        </div>
   </footer>
</body>
</html>