<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="novedades,información,actualización,futsal">
    <meta name="description" content="Novedades por medio de imagenes, video,  texto y link hacia otros sitios web">
    <link rel= "icon" href="../img/escudo.ico">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/galeria.css">
    <title>Galería</title>
</head>

<body class="estrellas"> <!--- FONDE VER!!! -->
     <!--Encabezado-->
    <header>
        <!--Logo-->
        <div class="header-linea">
            <video class="logo" src="../video/logoanimado.mp4" autoplay muted></video>
        </div>
        <!--Menú de navegación-->
        <nav class="header-linea">
            <a class="menu" href="../index.html">INICIO</a>
            <a class="menu" href="novedades.html">NOVEDADES</a>
            <a class="menu" href="galeria.html">GALERÍA</a>
            <a class="menu" href="tienda.html">TIENDA</a>
            <a class="menu" href="descargas.html">DESCARGAS</a>
            <a class="menu" href="contacto.html">CONTACTO</a>
            <a class="menu" href="https://www.fefusamendoza.com.ar/" target="_blank">FEFUSA</a>
        </nav>
    </header>
    <!--Contenido-->
    <main>
        <!--Sección 1 Animación de imágenes-->
        <section class="seccion1"></section>

        <!--Seccion 2 Transformación de imagenes
       /* <section>
            <h1>Categorías Formativas</h1>
            <p>Fotografías de las jugadoras y jugadores de las categorías más pequeñas.</p>
            <div class="contenedorformativas">
                <img src="../img/formativa1.jpg" alt="Categoría Formativa">
                <img src="../img/formativa2.jpg" alt="Categoría Formativa">
                <img src="../img/formativa3.jpg" alt="Categoría Formativa">
                <img src="../img/formativa4.jpg" alt="Categoría Formativa">
                <img src="../img/formativa5.jpg" alt="Categoría Formativa">
                <img src="../img/formativa6.jpg" alt="Categoría Formativa">
                <img src="../img/formativa7.jpg" alt="Categoría Formativa">
                <img src="../img/formativa8.jpg" alt="Categoría Formativa">
                <img src="../img/formativa9.jpg" alt="Categoría Formativa">
                <img src="../img/formativa10.jpg" alt="Categoría Formativa">
                <img src="../img/formativa11.jpg" alt="Categoría Formativa">
                <img src="../img/formativa12.jpg" alt="Categoría Formativa">
                <img src="../img/formativa13.jpg" alt="Categoría Formativa">
                <img src="../img/formativa14.jpg" alt="Categoría Formativa">
                <img src="../img/formativa15.jpg" alt="Categoría Formativa">
                <img src="../img/formativa16.jpg" alt="Categoría Formativa">
                <img src="../img/formativa17.jpg" alt="Categoría Formativa">
            </div>   
        </section>-->

        <section>
            <h1>Primera División</h1>
            <p>Algunas fotos de las chicas de primera</p>
            <div class="contenedorprimera">
                <img src="../img/anterior1.jpg" alt="Primera División">
                <img src="../img/anterior2.jpg" alt="Primera División">
                <img src="../img/anterior3.jpg" alt="Primera División">
                <img src="../img/anterior4.jpg" alt="Primera División">
                <img src="../img/anterior5.jpg" alt="Primera División">
                <img src="../img/anterior6.jpg" alt="Primera División">
                <img src="../img/anterior7.jpg" alt="Primera División">
                <img src="../img/anterior8.jpg" alt="Primera División">
                <img src="../img/anterior9.jpg" alt="Primera División">
                <img src="../img/anterior10.jpg" alt="Primera División">
            </div>
        </section>

        <section>
                <h1>Inauguración de la nueva cancha</h1>
                <h6>Noviembre 2021</h6>
                <p>Inauguración oficial de la cancha con presencia de autoridades de la Municipalidad de Mendoza.</p>
            <div class="contenedorcancha"></div>
            <!--<div>
                <img src="../img/Cancha1.jpg" alt="Inauguración cancha 2021">
                <img src="../img/Cancha2.jpg" alt="Inauguración cancha 2021">
                <img src="../img/Cancha3.jpg" alt="Inauguración cancha 2021">
                <img src="../img/Cancha4.jpg" alt="Inauguración cancha 2021">
                <img src="../img/Cancha6.jpg" alt="Inauguración cancha 2021">
                <img src="../img/Cancha7.jpg" alt="Inauguración cancha 2021">
            </div>
        </section>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            <div>
                <a href="../img/Equipo.jpg" target="_blank">Ver imagen</a>
                <div> ver con css 
                <a href="../img/Equipo2.jpg" download="">Descargar imagen</a>
            </div>
            <div>
                <h1>Desde el inicio</h1>
                <p>Fotos que han ido quedando como recuerdo de nuestros inicios.</p>
                <img src="../img/anterior1.jpg" alt="Fotos de recuerdos">
                <img src="../img/anterior2.jpg" alt="Fotos de recuerdos">
                <img src="../img/anterior3.jpg" alt="Fotos de recuerdos">
                <img src="../img/anterior4.jpg" alt="Fotos de recuerdos">
                <img src="../img/anterior5.jpg" alt="Fotos de recuerdos">
                <img src="../img/anterior6.jpg" alt="Fotos de recuerdos">
                <img src="../img/anterior7.jpg" alt="Fotos de recuerdos">
                <img src="../img/anterior8.jpg" alt="Fotos de recuerdos">
                <img src="../img/anterior9.jpg" alt="Fotos de recuerdos">
                <img src="../img/anterior10.jpg" alt="Fotos de recuerdos">
                <img src="../img/anterior11.jpg" alt="Fotos de recuerdos">
                <img src="../img/anterior12.jpg" alt="Fotos de recuerdos">
                <img src="../img/anterior13.jpg" alt="Fotos de recuerdos">
                <img src="../img/anterior14.jpg" alt="Fotos de recuerdos">
                <img src="../img/anterior15.jpg" alt="Fotos de recuerdos">
            </div>
        </section>
    </main>

    Pie de página-->
    <footer>
        <div class="columna-1">
            <img src="../img/berzuini.png" alt="Logo personal" style="width: 10vw;">
            <h5>© 2024 Grupo 16 Todos los derechos reservados.</h5>
            <h5>Curso Full Stack Python</h5>
        </div>
        <div class="columna-2">
            <div>
                <a class="hipervinculo"  href="https://instagram.com/futsal_femenino_capital?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"><img src="../img/Instagram-frame-png.png" alt="Instagram" style="width: 2vw;">@FUTSAL_FEMENINO_CAPITAL</a>
            </div>

            <div>
                <a class="hipervinculo"  href="https://www.facebook.com/profile.php?id=100011423811094" target="_blank"><img src="../img/facebook.png" alt="Facebook" style="width: 2vw;">LA FAVORITA FUTSAL</a>
            </div>

            <div>
                <a class="hipervinculo"  href="https://www.youtube.com/@g5-lafavorita232" target="_blank"><img src="../img/youtube.jpg" alt="YouTube" style="width: 2vw;">G5 - LA FAVORITA</a>
            </div>  
        </div>
   </footer>

</body>
</html>